<div id="<%= dom_id invoice %>">
  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong>Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

  <p>
    <strong>Invoice from:</strong>
    <%= invoice.invoice_from %>
  </p>

  <p>
    <strong>Invoice to:</strong>
    <%= invoice.invoice_to %>
  </p>

  <p>
    <strong>Total amount due:</strong>
    <%= invoice.total_amount_due %>
  </p>

  <p>
    <strong>Emails:</strong>
    <%= invoice.emails %>
  </p>
</div>
