<h1>Invoices</h1>
<div>
  <%= form_with(url: invoices_path, method: :get) do |form| %>
    Invoice number: <%= form.text_field :invoice_number, value: params[:invoice_number] %>
    Invoice date from <%= form.date_field :invoice_date_from, value: params[:invoice_date_from] %>
    Invoice date to <%= form.date_field :invoice_date_to, value: params[:invoice_date_to] %>
    <%= form.submit 'Filter' %>
  <% end %>
</div>
<div id="invoices">
  <% @invoices.each do |invoice| %>
    <p>
      Invoice number: <%= invoice.invoice_number %>, Invoice date: <%= invoice.invoice_date %>, <%= link_to "Details", invoice %>
    </p>
  <% end %>
</div>

<%= link_to "New invoice", new_invoice_path %>
