<%= form_with url: tokens_path do |f| %>
  <div>
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div>
    <%= f.submit 'Log In' %>
  </div>
<% end %>

<%= form_with url: users_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit 'New Token' %>
  </div>
<% end %>
