<!DOCTYPE html>
<html>
  <head>
    <title>HuskyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if current_user %>
      <p style="text-align: right">Hi <%= current_user.email %>, <%= link_to('log out', logout_users_path) %></p>
    <% end %>

    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div class="alert flash-<%= type %>"><%= msg %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
